<h1>Elite : Dangerous - Main Menu</h1>

<h2>Data Entry</h2>
<%= link_to 'View or enter data through this screen', controller: 'data_entry' %>
<br /><br />
<h2>Reports</h2>
<%= link_to 'View reports through this screen', controller: 'reporting' %>

