<h1>Create a new Government</h1>

<%= render 'form' %>
<br>
<br>
<%= link_to 'View all Governments', governments_path %>
<br>
<%= link_to 'Back to data entry menu', :controller => 'data_entry', :action => 'index' %>