<h1><%= @government.name %></h1>

<br>
<%= link_to 'Edit this Government', edit_government_path(@government) %>
<br>
<%= link_to 'View all Governments', governments_path %>
<br>
<%= link_to 'Back to data entry menu', :controller => 'data_entry', :action => 'index' %>