<h1>Editing a Station Commodity</h1>

<%= render 'form' %>
<br>
<br>
<%= link_to 'View all Station Commodities', station_commodities_path %>
<br>
<%= link_to 'Back to data entry menu', :controller => 'data_entry', :action => 'index' %>