<h1>Editing a Station Economy</h1>

<%= render 'form' %>
<br>
<br>
<%= link_to 'View all Station Economies', station_economies_path %>
<br>
<%= link_to 'Back to data entry menu', :controller => 'data_entry', :action => 'index' %>