<h1><%= @allegiance.name %></h1>

<br>
<%= link_to 'Edit this Allegiance', edit_allegiance_path(@allegiance) %>
<br>
<%= link_to 'View all Allegiances', allegiances_path %>
<br>
<%= link_to 'Back to data entry menu', :controller => 'data_entry', :action => 'index' %>