<h1>Add a new Station Type</h1>

<%= render 'form' %>
<br>
<br>
<%= link_to 'View all Station Types', station_types_path %>
<br>
<%= link_to 'Back to data entry menu', :controller => 'data_entry', :action => 'index' %>