<h1>Editing a Star System</h1>

<%= render 'form' %>
<br>
<br>
<%= link_to 'View all Star Systems', systems_path %>
<br>
<%= link_to 'Back to data entry menu', :controller => 'data_entry', :action => 'index' %>