<h1>Add a new Commodity</h1>

<%= render 'form' %>
<br>
<br>
<%= link_to 'View all Commodities', commodities_path %>
<br>
<%= link_to 'Back to data entry menu', :controller => 'data_entry', :action => 'index' %>