/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing:0.05em;
}

footer{
    margin-top:100px;
    text-align:center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    position:relative;
    z-index: 1000;
}

h1{
    margin-top:0px;
    padding-bottom:10px;
    border-bottom: 1px solid #EF4023;
    font-family:tekobold;
    font-weight:normal;
    font-size:36pt;
    color:#ef4023;
}

h2{
    margin-top:0px;
    padding-bottom:10px;
    border-bottom: 1px solid #EF4023;
    font-family:tekobold;
    font-weight:normal;
    font-size:28pt;
    color:#ef4023;
}

h3{
    font-family:tekobold;
    margin-bottom:0px;
    color:#ef4023;
}

h4{
    font-family:tekobold;
    margin-bottom:0px;
    color:#ef4023;
}

#ContentContainer {
    margin-top:10px;
    background-color:#000;
    padding:10px;
}

#DataListing {
    margin-top: 10px;
}

#DataListing h3, #DataListing h4{
    margin-left:5px
}

/*
    *********************************************************
    Fonts
    *********************************************************
*/

@font-face {
    font-family: 'tekobold';
    src: url('teko-bold-webfont.eot');
    src: url('teko-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('teko-bold-webfont.woff2') format('woff2'),
         url('teko-bold-webfont.woff') format('woff'),
         url('teko-bold-webfont.ttf') format('truetype'),
         url('teko-bold-webfont.svg#tekobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tekolight';
    src: url('teko-light-webfont.eot');
    src: url('teko-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('teko-light-webfont.woff2') format('woff2'),
         url('teko-light-webfont.woff') format('woff'),
         url('teko-light-webfont.ttf') format('truetype'),
         url('teko-light-webfont.svg#tekolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tekomedium';
    src: url('teko-medium-webfont.eot');
    src: url('teko-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('teko-medium-webfont.woff2') format('woff2'),
         url('teko-medium-webfont.woff') format('woff'),
         url('teko-medium-webfont.ttf') format('truetype'),
         url('teko-medium-webfont.svg#teko_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tekoregular';
    src: url('teko-regular-webfont.eot');
    src: url('teko-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('teko-regular-webfont.woff2') format('woff2'),
         url('teko-regular-webfont.woff') format('woff'),
         url('teko-regular-webfont.ttf') format('truetype'),
         url('teko-regular-webfont.svg#teko_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tekosemibold';
    src: url('teko-semibold-webfont.eot');
    src: url('teko-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('teko-semibold-webfont.woff2') format('woff2'),
         url('teko-semibold-webfont.woff') format('woff'),
         url('teko-semibold-webfont.ttf') format('truetype'),
         url('teko-semibold-webfont.svg#tekosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}